
.bg-section {
    background-image: url(../images/back.jpg);
    background-color: #f4f4f4;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    margin-top: 0px;
    text-align: center;
    color: white;

    opacity: .5;

}
.bg-section2 {
    margin-top: -820px;
    padding: 0;
}