<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignIn</title>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Font Icon -->
    <link rel="stylesheet" href="/ext/login-style/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    
    <!-- Main css -->
    <link rel="stylesheet" href="/ext/login-style/css/style.css">
</head>
<%if(err!=null) {%>
    
    <script>$(document).ready(function(){
            Swal.fire({
  type: 'error',
  title: 'Oops...',
  text: '<%=err%>'
});
            
        });</script>
<% } %>
    
    
<body background="gray">
	
	<div class="main" style="scroll:none">
		<section class="sign-in" style="margin-top:-150px">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/ext/login-style/images/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/signUp" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="email" name="email" id="your_name" placeholder="Your Email" required="email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="your_pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
	
 <!-- JS -->
    <script src="/ext/login-style/vendor/jquery/jquery.min.js"></script>
    <script src="/ext/login-style/js/main.js"></script>

</body>
</html>